<a href="https://colab.research.google.com/github/trilgar/IAD2023/blob/main/%D0%97%D0%B0%D1%80%D0%B8%D1%86%D1%8C%D0%BA%D0%B8%D0%B9_CP10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<center><font size="6"><b>Комп'ютерний практикум 10.

<center><b> Рекомендаційні системи </font>


<center><b><i><font size="4"> Content-based filtering



</b></center>

##<center>__Самостійні завдання__</center>

> Скопіювати блок самостійних завдань в окремий файл ***LastName_CP10.ipynb***

> Інсталюйте необхідні пакети бібліотек Python

### Завдання №1

* Завантажте архів `BX-CSV-Dump.zip` та розпакуйте дані з лінку

`url = "http://www2.informatik.uni-freiburg.de/~cziegler/BX/BX-CSV-Dump.zip"`

* Завантажте датасети `BX-Books.csv` як `df.books` та `BX-Book-Ratings.csv` як `df.ratings`, виведіть частину датасетів на екран

Використайте ці дані, щоб побудувати систему рекомендацій, яка підкаже, що користувачеві варто прочитати наступним, виходячи з його поточних книжкових уподобань.

In [21]:
import requests
import zipfile
import pandas as pd
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt 

%matplotlib inline

url = "http://www2.informatik.uni-freiburg.de/~cziegler/BX/BX-CSV-Dump.zip"
filename = "BX-CSV-Dump.zip"

# Завантажуємо архів
response = requests.get(url)

# Зберігаємо архів на диск
with open(filename, 'wb') as f:
    f.write(response.content)

# Розпаковуємо архів
with zipfile.ZipFile(filename, 'r') as zip_ref:
    zip_ref.extractall()

# Завантажуємо дані з файлів CSV в DataFrame
df_books = pd.read_csv('BX-Books.csv', error_bad_lines=False, delimiter=';', encoding='latin-1')
df_ratings = pd.read_csv('BX-Book-Ratings.csv', error_bad_lines=False, delimiter=';', encoding='latin-1')

# Виводимо частину датасетів на екран
print("Частина датасету BX-Books.csv:")
print(df_books.head())

print("\nЧастина датасету BX-Book-Ratings.csv:")
print(df_ratings.head())

<ipython-input-21-8e295381ec1d>:25: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_books = pd.read_csv('BX-Books.csv', error_bad_lines=False, delimiter=';', encoding='latin-1')
Skipping line 6452: expected 8 fields, saw 9
Skipping line 43667: expected 8 fields, saw 10
Skipping line 51751: expected 8 fields, saw 9

Skipping line 92038: expected 8 fields, saw 9
Skipping line 104319: expected 8 fields, saw 9
Skipping line 121768: expected 8 fields, saw 9

Skipping line 144058: expected 8 fields, saw 9
Skipping line 150789: expected 8 fields, saw 9
Skipping line 157128: expected 8 fields, saw 9
Skipping line 180189: expected 8 fields, saw 9
Skipping line 185738: expected 8 fields, saw 9

Skipping line 209388: expected 8 fields, saw 9
Skipping line 220626: expected 8 fields, saw 9
Skipping line 227933: expected 8 fields, saw 11
Skipping line 228957: expected 8 fields, saw 10
Skipping line 245933: expected 8 fields, saw 9
Skipping line 251296: expected 8 fields, saw 9
Skipping line 259941: expected 8 fields, saw 9
Skipping line 261529: expected 8 fields, saw 9

<ipython-input-21-8e295381ec1d>:25: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df_books = pd.read_csv('BX-Books.csv', error_bad_lines=False, delimiter=';', encoding='latin-1')
<ipython-input-21-8e295381ec1d>:26: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_ratings = pd.read_csv('BX-Book-Ratings.csv', error_bad_lines=False, delimiter=';', encoding='latin-1')

Частина датасету BX-Books.csv:
         ISBN                                         Book-Title  \
0  0195153448                                Classical Mythology
1  0002005018                                       Clara Callan
2  0060973129                               Decision in Normandy
3  0374157065  Flu: The Story of the Great Influenza Pandemic...
4  0393045218                             The Mummies of Urumchi

            Book-Author Year-Of-Publication                   Publisher  \
0    Mark P. O. Morford                2002     Oxford University Press
1  Richard Bruce Wright                2001       HarperFlamingo Canada
2          Carlo D'Este                1991             HarperPerennial
3      Gina Bari Kolata                1999        Farrar Straus Giroux
4       E. J. W. Barber                1999  W. W. Norton &amp; Company

                                         Image-URL-S  \
0  http://images.amazon.com/images/P/0195153448.0...
1  http://images.amazon.com/images/P/0002005018.0...
2  http://images.amazon.com/images/P/0060973129.0...
3  http://images.amazon.com/images/P/0374157065.0...
4  http://images.amazon.com/images/P/0393045218.0...

                                         Image-URL-M  \
0  http://images.amazon.com/images/P/0195153448.0...
1  http://images.amazon.com/images/P/0002005018.0...
2  http://images.amazon.com/images/P/0060973129.0...
3  http://images.amazon.com/images/P/0374157065.0...
4  http://images.amazon.com/images/P/0393045218.0...

                                         Image-URL-L
0  http://images.amazon.com/images/P/0195153448.0...
1  http://images.amazon.com/images/P/0002005018.0...
2  http://images.amazon.com/images/P/0060973129.0...
3  http://images.amazon.com/images/P/0374157065.0...
4  http://images.amazon.com/images/P/0393045218.0...

Частина датасету BX-Book-Ratings.csv:
   User-ID        ISBN  Book-Rating
0   276725  034545104X            0
1   276726  0155061224            5
2   276727  0446520802            0
3   276729  052165615X            3
4   276729  0521795028            6

### Завдання №2

* Виведіть інформацію про датасет
* Залиште в датасеті лише колонки `ISBN`, `Book Title`,`Book Author` and `Publisher`.
* Перевірте, чи немає дублікатів назв книг, видаліть, якщо такі є. Для цього скористайтесь функціями `duplicated(subset='Book-Title')`  та `drop_duplicates(subset='Book-Title')`
* Об'єднайте імена та прізвища авторів, видаляючи пробіли, щоб система розрізняла авторів з однаковими іменами
* Виведіть шапку таблиці, щоб переконатись у об'єднанні

In [22]:
# Вибираємо потрібні колонки
selected_columns = ['ISBN', 'Book-Title', 'Book-Author', 'Publisher']
df_books_selected = df_books[selected_columns]

# Видаляємо дублікати назв книг
df_books_selected = df_books_selected.drop_duplicates(subset='Book-Title')

# Об'єднуємо імена та прізвища авторів, видаляючи пробіли
df_books_selected['Book-Author'] = df_books_selected['Book-Author'].str.replace(' ', '')

# Виводимо шапку таблиці
print(df_books_selected.head())

         ISBN                                         Book-Title  \
0  0195153448                                Classical Mythology
1  0002005018                                       Clara Callan
2  0060973129                               Decision in Normandy
3  0374157065  Flu: The Story of the Great Influenza Pandemic...
4  0393045218                             The Mummies of Urumchi

          Book-Author                   Publisher
0     MarkP.O.Morford     Oxford University Press
1  RichardBruceWright       HarperFlamingo Canada
2         CarloD'Este             HarperPerennial
3      GinaBariKolata        Farrar Straus Giroux
4        E.J.W.Barber  W. W. Norton &amp; Company

In [23]:
df_books_selected.head()

,ISBN,Book-Title,Book-Author,Publisher
0,0195153448,Classical Mythology,MarkP.O.Morford,Oxford University Press
1,0002005018,Clara Callan,RichardBruceWright,HarperFlamingo Canada
2,0060973129,Decision in Normandy,CarloD'Este,HarperPerennial
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,GinaBariKolata,Farrar Straus Giroux
4,0393045218,The Mummies of Urumchi,E.J.W.Barber,W. W. Norton &amp; Company

In [24]:
df_ratings.head()

   User-ID        ISBN  Book-Rating
0   276725  034545104X            0
1   276726  0155061224            5
2   276727  0446520802            0
3   276729  052165615X            3
4   276729  0521795028            6

### Завдання №3

* Створіть користувача, якому поставте у відповідність 5 довільних кних з переліку та рейтингом (0-10)
* Створіть рекомендований список з 10 книг для користувача, спираючись на автора та видавництво.

In [25]:
# Створюємо словник з уподобаннями користувача
user_preferences = {
    'ISBN': ['0155061224', '0446520802', '052165615X', '0521795028', '0515107662'],
    'Rating': [8, 7, 6, 9, 5]
}

# Створюємо DataFrame з уподобаннями користувача
df_user_preferences = pd.DataFrame(user_preferences)

In [26]:
# Об'єднуємо дані користувача з даними книжок за ISBN
df_user_ratings = pd.merge(df_user_preferences, df_ratings, on='ISBN')

df_user_ratings['Weighted-Rating'] = df_user_ratings['Rating'] * 0.8 + df_user_ratings['Book-Rating'] * 0.2 

# Групуємо дані за книжкою і обчислюємо середній рейтинг користувача
user_avg_ratings = df_user_ratings.groupby('ISBN')['Weighted-Rating'].mean().reset_index()

# Об'єднуємо дані користувача з середніми рейтингами книжок
df_user_books = pd.merge(user_avg_ratings, df_books_selected, on='ISBN')

In [27]:
user_avg_ratings

         ISBN  Weighted-Rating
0  0155061224         6.900000
1  0446520802         6.412069
2  0515107662         4.690909
3  052165615X         5.400000
4  0521795028         8.400000

In [32]:
df_user_books = df_user_books.sort_values('Weighted-Rating', ascending=False)
df_user_books

,ISBN,Weighted-Rating,Book-Title,Book-Author,Publisher
2,0521795028,8.400000,The Amsterdam Connection : Level 4 (Cambridge ...,SueLeather,Cambridge University Press
1,052165615X,5.400000,Help!: Level 1,PhilipProwse,Cambridge University Press
0,0515107662,4.690909,The Sherbrooke Bride (Bride Trilogy (Paperback)),CatherineCoulter,Jove Books

In [33]:
unique_authors = df_user_books['Book-Author'].unique()
unique_publishers = df_user_books['Publisher'].unique()

recommended_books = df_books_selected[(df_books_selected['Book-Author'].isin(unique_authors)) & 
                                     (df_books_selected['Publisher'].isin(unique_publishers))]
# Виводимо рекомендований список книжок
print("Рекомендований список книжок:")
recommended_books.head(10)

Рекомендований список книжок:

,ISBN,Book-Title,Book-Author,Publisher
556,0515118656,The Cove,CatherineCoulter,Jove Books
977,0515134368,The Penwyth Curse,CatherineCoulter,Jove Books
2089,0515122491,The Maze,CatherineCoulter,Jove Books
7617,0515128600,The Edge,CatherineCoulter,Jove Books
7799,0515125628,The Target,CatherineCoulter,Jove Books
8480,051513225X,Pendragon,CatherineCoulter,Jove Books
8482,0515129933,The Scottish Bride (Bride Trilogy (Paperback)),CatherineCoulter,Jove Books
8483,051512088X,Rosehaven,CatherineCoulter,Jove Books
8957,0515133302,Hemlock Bay,CatherineCoulter,Jove Books
10533,0515136549,The Sherbrooke Twins,CatherineCoulter,Jove Books